body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

ol {
  margin-bottom: 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  width: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 550px;
  margin: 50px auto 0;
}

.game-board {
  width: 300px;
}

.game-info {
  width: 230px;
  margin-left: 20px;
}

.game-info > div {
  font-size: 26px;
}

.game-info > ol > li:not(:last-child) {
  margin-bottom: 3px;
}
